/**
 * @name IdeaLight theme
 * @version 1.2
 * @description Theme for IdeaLight
 * @author mrdan__
 * @authorId 476046299691745300
 * @source https://github.com/MrDanikYT-pixel/idealight-theme
 * @invite 2e5SMn73Hw 
 */

 @import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);

@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/addon/RemoveMinimumSize.css) (width: 940px);

@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/Float.css) (max-width: 940px);

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/source.css);

.theme-dark {
    --main-color: #100f0e;
    --main-alt: #171615;
    --message-color: #171615;
    --message-color-hover: #1e1d1c;
    --accent-hue: 15deg;
    --accent-saturation: 100%;
    --accent-lightness: 85%;
    --accent-text-color: #994328;
    --popout-color: #141312;
    --main-textarea-color: #171615;
    --tooltip-color: #171615;
}

.theme-light {
    --accent-hue: 15deg;
    --accent-saturation: 100%;
    --accent-lightness: 85%;
    --accent-text-color: #994328;
}


[data-list-item-id="guildsnav___488281306757595147"][class*="wrapper__"] [class*="icon__"] {
    border: 2px solid #FF7043;
    box-sizing: border-box;
}

[data-list-item-id="guildsnav___1012398526459818094"][class*="wrapper__"] [class*="icon__"] {
    border: 2px solid #E53935;
    box-sizing: border-box;
}

[data-list-item-id="guildsnav___1003610934423592980"][class*="wrapper__"] [class*="icon__"] {
    border: 2px solid #5C6BC0;
    box-sizing: border-box;
}

[data-list-item-id="guildsnav___875456471356276816"][class*="wrapper__"] [class*="icon__"] {
    border: 2px solid #FFEE58;
    box-sizing: border-box;
}